{% extends 'base.html' %}

{% block title %}Submit form{% endblock %}

{% block content %}
  <h1>Upload new File</h1>
  <form method=post enctype=multipart/form-data>
    {% if files is not none %}
    <ul>
      {% for filename in files %}
        <li>{{ filename }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <div class="form-group">
      <!-- <label for="file"> File to upload</label> -->
      <input class="form-control-file" type="file" name="file">
      <input class="btn btn-primary" type=submit value=Upload name="_form_upload">
    </div>
  </form>

  <h1>Metadata form</h1>
  <form method="POST">

    {% for field in fields %}
      <!-- <p>{{ field }}</p>
      <p>{{ input(**field) }}</p> -->
      {{ input(**field) }}
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Submit" name="_form_metadata">
  </form>
{% endblock %}


{% macro input(name, value='', type='text', size=20, enum=None) -%}
    <label for="{{ name }}">{{ name }}</label>
    {% if type is equalto "number" %}
      <input class="form-control"
        type="{{ type }}" id="{{ name }}"
        name="{{ name }}" value="{{ value|e|float }}"
        size="{{ size }}"
      >
    {% elif enum is iterable %}
      <select class="form-control" name="{{ name }}" id="{{ name }}">
        {% for item in enum %}
          <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
      </select>
    {% else %}
      <input class="form-control"
        type="{{ type }}" id="{{ name }}"
        name="{{ name }}" value="{{ value|e }}"
        size="{{ size }}"
      >
    {% endif %}
{%- endmacro %}
