[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "==20.3.0"
certifi = "==2020.12.5"
click = "==7.1.2"
flask = "==1.1.2"
itsdangerous = "==1.1.0"
Jinja2  = "*" 
jsonschema = "==3.2.0" 
MarkupSafe = "*"  
pyrsistent = "==0.17.3"
rfc3986 = "==1.4.0"
six= "==1.15.0"
watchdog = "==2.0.2"
Werkzeug= "==1.0.1"
bootstrap-flask = "*"
Flask-Babel = "*"
Flask-Table = "*"
python-dotenv = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-babel = "*"
flask-wtf = "*"
email-validator = "*"
requests = "*"
bs4 = "*"
joblib = "*"
html5lib = "*"
markdown = "*"
flask-paginate = "*"
flask-admin = "*"
flask-menu = "*"
blinker = "*"
pandas = "*"
attr = "*"
authlib = "*"
python-gitlab = "*"
flask-flatpages = "*"
flask-mdeditor = "*"
loginpass = "*"
pygments = "*"
flask-email = "*"
flask-mail = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.9"
