{% extends 'base.html' %}

{% block title %}
    Welcome
{%  endblock %}


{% block content %}
    <div class="jumbotron text-center">
        <div class="container mt-5">
            <h1 class="jumbotron-heading"> Welcome to the GMAP Data Integration Portal </h1>
            <p class="lead text-muted" > The portal for high-level planetary data delivery and exploration</p>

            <p>
                <a href="/all-packages" class="btn btn-primary my-2 mr-2">Browse all packages</a>

                <a href="/create" class="btn btn-primary my-2 mr-2">Create a Package</a>
            </p>
        </div>

    </div>

    <h2 > Latest products </h2>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for pack in packages %}
                        {% include "packages/package_card.html" %}
                {% endfor %}

            </div>



        </div>
    </div>

{% endblock %}



