{% extends "layout.html" %}

{% block title %}Submit form{% endblock %}

{% block content %}
  <h1>Upload new File</h1>
  {% if files is not none %}
    {% for filename in files %}
      <p>{{ filename }}</p>
    {% endfor %}
  {% endif %}
  <form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload name="_form_upload">
  </form>

  <h1>Submit form</h1>
  <form method="POST">
    {% for field in fields %}
      <p>{{ field }}</p>
      <p>{{ input(**field) }}</p>
    {% endfor %}
    <input type="submit" value="Submit" name="_form_metadata">
  </form>
{% endblock %}


{% macro input(name, value='', type='text', size=20, enum=None) -%}
    <label for="{{ name }}">{{ name }}</label>
    {% if type is equalto "number" %}
    <input type="{{ type }}" id="{{ name }}" name="{{ name }}" value="{{ value|e|float }}" size="{{ size }}">
    {% elif enum is iterable %}
    <select name="{{ name }}" id="{{ name }}">
      {% for item in enum %}
      <option value="{{ item }}">{{ item }}</option>
      {% endfor %}
    </select>
    {% else %}
    <input type="{{ type }}" id="{{ name }}" name="{{ name }}" value="{{ value|e }}" size="{{ size }}">
    {% endif %}
{%- endmacro %}
